.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-left: 10px;
}

button {
  padding: 10px;
  background-color: #41D1FF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0099cc;
}

p {
  color: rgb(22, 20, 20);
}
